<header class="header">
  <div class="header__container">
      <a href="/home">
          <div class="header__logo-container">
              <img alt="avatar" class="header__logo" src="../../../../assets/images/logo.png" />
              <h1 class="header__logo-text">Logo</h1>
          </div>
        </a>

      <div class="header__nav-container">
        <div class="header__breadcrumb"></div>
        <nav class="header__nav">
            <span class="header__user-name">user1</span>
            <a href="#">logoff</a>
        </nav>
    </div>
  </div>
</header>
