<article class="course">
  <section class="course__top-section">
      <div class="course__top-section-group course__top-section-group--1">
          <h1 class="course__heading">{{course.title}}</h1>
          <span>{{course.duration | numberToTime}}</span>
      </div>
      <div class="course__top-section-group course__top-section-group--2">
          <span>{{creationDate | date:'dd.MM.yy'}}</span>
          <button class="course__action-btn" (click)="editCourse()">Edit Course</button>
      </div>

  </section>
  <section class="course__bottom-section">
      <span class="course__description">{{course.description}}</span>
      <button class="course__action-btn" (click)="deleteCourse()">Delete Course</button>
  </section>
</article>
