.create-edit {
    textarea {
        width: 100%;
        height: 100px;
    }
    &__form-btns {
        width: 350px;
        display: flex;
        justify-content: space-between;
        margin: 30px 0 0 180px;
    }
    &__form-btn {
        width: 150px;
        height: 30px;
        background:none;
    }
    &__form {
        max-width: 800px;
        margin: 30px auto;
    }
    &__form-error {
        border: thin solid red;
        color: red;
        text-align: center;
        font-size: 1.5em;
    }
    
}