.course-list {
  padding: 0 20px;
  &__item {
      list-style-type: none;
  }
  &__items {
      padding: 0;
      margin: 20px 0;
  }
  &__mid-section {
      margin: 40px 0;
      display: flex;
      justify-content: space-between;
  }
  &__delete-course-btn {
      width: 150px;
      // margin-right: 20px;
      height: 30px;
      background-color: transparent;
  }
  &__top-field {
    display: flex;
    justify-content: space-between;
  }
  &__add-course-btn {
    width: 150px;
    background-color: transparent;
    height: 30px;
  }
}
